/* ANIMA AO ROLAR A TELA */

section[data-anime="scroll"] {
    opacity: 0;
    transition: 1s ease-in;
    transform: translateY(-40px);
}

section[data-anime="scroll"].ativo {
    opacity: 1;
    transform: translateY(0px);
}
