header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  padding-block: 0.25rem;
  background: #14161d99;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  nav {
    display: flex;
    padding-inline: 5rem;
    justify-content: space-between;
    align-items: center;

    a > img {
      transition: all 0.1s ease-out;
      &:hover {
        filter: brightness(110%);
      }
    }

    ul {
      display: flex;
      gap: 3rem;

      a {
        transition: all 0.1s ease-out;

        &:hover {
          color: #b9d4ef;
        }
      }
    }
  }
}

#initial {
  position: relative;
  height: 100vh;
  align-content: end;

  background-image: url(/assets/person-presenting-their-job-resignation.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      358.96deg,
      #14161d 4.3%,
      rgba(20, 22, 29, 0.192157) 48.18%
    );
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 0 68px 5rem;
    max-width: 576px;

    h1 {
      z-index: 1;
    }

    div {
      z-index: 1;
      display: flex;
      gap: 1.5rem;
    }
  }

  p {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;

    display: flex;
    gap: 0.625rem;
    padding: 10px;

    font-weight: 700;
    font-size: 0.875rem;

    &:nth-of-type(1) {
      top: 55%;
      left: 50%;

      color: #151c2f;
      background: #b8d3ef;
      border-radius: 20px 0px 20px 20px;
    }

    &:nth-of-type(2) {
      top: 20%;
      left: 20%;

      color: #fff;
      background: #151c2f;
      border-radius: 20px 20px 20px 0px;
    }
  }
}

#quem-somos {
  height: 100vh;
  margin: 0 auto;
  justify-content: center;

  > div {
    display: flex;
    background: #212532;
    border-radius: 12px;
    align-items: center;

    picture {
      position: relative;
      width: 753px;
      height: 466px;

      &::after {
        content: '';
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: linear-gradient(
          269.92deg,
          #212532 0.07%,
          rgba(33, 37, 50, 0.2) 44.5%
        );
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 26rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      button {
        display: flex;
        gap: 0.625rem;
        align-items: center;
      }
    }
  }
}

#servicos {
  height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  div {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    max-width: 24rem;

    span {
      color: #b8d3ef;
    }
  }

  picture {
    margin: auto;
    position: relative;
    width: 585px;
    height: 390px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 6px;
    }

    &::after {
      content: '';
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      background: linear-gradient(rgba(0, 0, 0, 0.0001) 16.67%, #14161d 90%);
    }
  }
}

#timeline {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 0;

  &&::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 83%;
    background: #b8d3ef;
  }

  > div {
    display: flex;
    align-items: flex-start;
    max-width: 20rem;
    min-height: 12rem;
    padding-inline: 2rem;

    &:nth-child(1) {
      grid-row: 1;
      text-align: left;
      grid-column: 2;
      justify-self: start;
    }

    &:nth-child(2) {
      grid-row: 2;
      text-align: right;
      grid-column: 1;
      justify-self: end;
    }

    &:nth-child(3) {
      grid-row: 3;
      text-align: left;
      grid-column: 2;
      justify-self: start;
    }

    &:nth-child(4) {
      grid-row: 4;
      text-align: right;
      grid-column: 1;
      justify-self: end;
    }

    &:nth-child(5) {
      grid-row: 5;
      text-align: left;
      grid-column: 2;
      justify-self: start;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    & img {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      position: absolute;
      background: #14161d;
      width: 2.5rem;
    }
  }
}

#faq {
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    gap: 1.5rem;
  }

  div:nth-child(2) {
    background: #212532;
    border-radius: 12px;
    padding: 2rem;
    width: 42rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    details {
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      summary {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #3e4762;
        list-style: none;
        cursor: pointer;
        position: relative;
        transition: padding-bottom 0.3s ease;
        padding-right: 2rem;

        &::-webkit-details-marker {
          display: none;
        }

        &::before {
          content: url('../assets/icons/Arrow.svg');
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
          transition: transform 0.3s ease;
        }
      }

      &:not([open]) {
        max-height: 3.5rem;
      }

      &[open] {
        max-height: 40rem;
      }

      &[open] > summary::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    p {
      padding-block: 1rem;
      max-width: 80%;
    }
  }
}

#fale-conosco {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;

  article {
    position: relative;
    height: 80%;
    width: 100%;
    background-image: url(assets/my-team-working-very-well.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    display: flex;
    align-items: end;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        11.1deg,
        #14161d 1.24%,
        rgba(20, 22, 29, 0.192157) 61.3%
      );
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 26rem;
      padding: 4rem 5rem;
      z-index: 1;

      h2 {
        color: #fff;
      }

      span {
        color: #b8d3ef;
      }

      button {
        display: flex;
        gap: 0.625rem;
        align-items: center;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  height: 540px;

  p {
    padding: 4rem;
    text-align: center;
    justify-self: flex-end;
  }

  img {
    margin: auto;
    height: 120px;
  }
}

.container {
  margin: auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.btn1 {
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 6px;
  color: #fff;
  background: linear-gradient(97.35deg, #7090b2 8.99%, #537fac 83.39%);
  height: max-content;
  width: max-content;
  transition: all 0.3s ease-out;

  &:hover {
    filter: brightness(110%);
  }
}

.btn2 {
  cursor: pointer;
  padding: 10px 24px;
  border-radius: 6px;
  color: #b9d4ef;
  border: 1px solid #b9d4ef;
  height: max-content;
  width: max-content;
  transition: all 0.3s ease-out;

  &:hover {
    color: #151c2f;
    background: #b9d4ef;
  }
}

/* #region --- ROOT */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #14161d;
  margin: 0px;
}

h1 {
  margin: 0;
  line-height: 76px;
  font-family: 'Amiko', sans-serif;
  font-weight: 400;
  font-size: 4.75rem;
  font-style: normal;
  color: #f6f6f6;
}

h2 {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
  color: #b8d3ef;
}

h3 {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
}

p,
a {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  line-height: 19.2px;
}

li {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  font-size: 0.875rem;
  color: #f6f6f6;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  appearance: none;
  border: none;
  color: inherit;
  background: none;
}

summary {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: #b8d3ef;
}

/* #endregion */

/* RESPONSIVIDADE */

@media (max-width: 1280px) {
  header {
    nav {
      display: flex;
      padding-inline: 2rem;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        gap: 1.5rem;

        li > a {
          font-size: 0.875rem;
        }
      }
    }
  }

  #initial > div {
    gap: 2rem;
    padding: 0 0 40px 2rem;

    div {
      gap: 1.5rem;
    }
  }

  #faq {
    padding-top: 2rem;
    gap: 2rem;
    flex-direction: column;

    div:nth-child(1) {
      display: flex;
      flex-direction: column;
      max-width: none;
      gap: 1.5rem;
    }

    div:nth-child(2) {
      background: #212532;
      border-radius: 12px;
      padding: 2rem;
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  h1 {
    font-size: 3.5rem;
    line-height: 60px;
  }
}

@media (max-width: 1024px) {
  header {
    position: absolute;
    padding-block: 1rem;
    nav > ul {
      display: none;
    }
  }

  #initial > div {
    gap: 2rem;
    padding: 0 0 40px 2rem;
    max-width: 360px;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 45px;
  }
}

@media (max-width: 600px) {
  header > nav {
    padding-inline: 1rem;
    ul {
      display: none;
    }

    a > img {
      width: 120px;
    }
  }

  #initial {
    div {
      gap: 1rem;
      max-width: 300px;
    }
    p {
      &:nth-of-type(1) {
        top: 30%;
        left: 30%;
      }

      &:nth-of-type(2) {
        top: 20%;
        left: 30%;
      }
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .btn1 {
    font-size: 0.75rem;
    padding: 6px 6px;
  }

  .btn2 {
    font-size: 0.75rem;
    padding: 6px 6px;
  }
}
