.btn1 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--branco);

  width: max-content;
  padding: 0.625rem 1.5rem;
  border-radius: 0.375rem;
  background: linear-gradient(97deg, #7090b2 10%, #537fac 80%);

  transition: 0.3s ease-out;
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

.btn2 {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--azul-200);

  width: max-content;
  padding: 0.625rem 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--azul-200);

  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    color: var(--azul-900);
    background: var(--azul-200);
  }
}

@media (max-width: 768px) {
  .btn1 {
    padding-inline: 1rem;
  }

  .btn2 {
    padding-inline: 1rem;
  }
}
