#faq {
  min-height: fit-content;
  width: 100%;
  padding-block: 5rem;

  display: flex;
  gap: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    max-width: 24rem;
    gap: 1.5rem;
  }

  div:nth-child(2) {
    background: #212532;
    border-radius: 12px;
    padding: 2rem;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    details {
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;

      summary {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #3e4762;
        list-style: none;
        cursor: pointer;
        position: relative;
        transition: padding-bottom 0.3s ease;
        padding-right: 2rem;

        &::-webkit-details-marker {
          display: none;
        }

        &::before {
          content: url('../assets/icons/Arrow.svg');
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) rotate(0deg);
          transition: transform 0.3s ease;
        }
      }

      &:not([open]) {
        max-height: 3.5rem;
      }

      &[open] {
        max-height: 40rem;
      }

      &[open] > summary::before {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    p {
      padding-block: 1rem;
      max-width: 80%;
    }
  }
}

/* RESPONSIVO */

@media (max-width: 1280px) {
  #faq {
    padding-top: 2rem;
    gap: 2rem;
    flex-direction: column;
    align-items: start;

    & > div {
      & > p {
        max-width: 32rem;
      }

      &:nth-child(1) {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        gap: 1.5rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  #faq {
    div:nth-child(2) {
      padding: 1.5rem;
      gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  #faq {
    div:nth-child(2) {
      & p {
        max-width: 100%;
      }
    }
  }
}
