#initial {
  position: relative;
  height: 100svh;
  width: 100%;
  align-content: end;

  background: url('../assets/home-desktop.webp') no-repeat top center;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      360deg,
      #14161d 4%,
      rgba(20, 22, 29, 0.2) 50%
    );
    z-index: 0;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 4rem;
    
    & > h1 {
      font-weight: 400;
      font-size: 4.75rem;
      line-height: 76px;
      color: var(--branco);

      max-width: 36rem;
      z-index: 1;
    }

    & > div {
      display: flex;
      gap: 1.5rem;
      z-index: 1;
    }
  }

  & > span {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    user-select: none;

    display: flex;
    gap: 0.625rem;
    align-items: center;
    padding: 0.625rem 1.25rem;

    font-weight: 700;
    font-size: 0.875rem;

    &:nth-of-type(1) {
      top: 50%;
      left: 48%;

      color: #151c2f;
      background: #b8d3ef;
      border-radius: 20px 0px 20px 20px;
    }

    &:nth-of-type(2) {
      top: 30%;
      left: 14%;

      color: #fff;
      background: #151c2f;
      border-radius: 20px 20px 20px 0px;
    }
  }
}

@media (max-width: 1280px) {
  #initial > div {
    padding-bottom: 2rem;
  }

  #initial > span {
    &:nth-of-type(2) {
      left: 7%;
    }
  }
}

@media (max-width: 1024px) {
  #initial > div {
    gap: 1.5rem;

    & h1 {
      font-size: 3.5rem;
      line-height: 56px;
    }
  }

  #initial > span {
    &:nth-of-type(1) {
      top: 40%;
      left: 48%;
    }

    &:nth-of-type(2) {
      top: 20%;
      left: 40%;
    }
  }
}

@media (max-width: 768px) {
  #inicial {
    background-image: url('../assets/home-mobile.webp');
  }

  #initial > span {
    &:nth-of-type(2) {
      top: 30%;
    }
  }
}